
* {
    font-family: "Landmark Regular A", "Landmark Regular B";
    font-style: normal;
    font-weight: 200;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    max-height: 300vh;
    background: linear-gradient(
                    #2B1055,
                    #7597DE
    );
}

header {
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 0 5vh black;
    z-index: 10000
}


.links {
    padding: 0 5vw;
}

h1 {
    font-size: 5vh;
    padding: 1vh 3vw;
}

section h2 {
    font-family: "Verlag A", "Verlag B";
    font-style: normal;
    font-weight: 800;
    color: white;
    font-size: 9vh;
}

h5 {
    padding-top: 8vh;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100px;
    background: linear-gradient(
                    to top,
                    #1C0522,
                    transparent
    );
    z-index: 1000;
    top: 450%;

}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
    height: 110%
}

section img#comet {
    height: 100%;
    width: 80%;
    margin: 20vh -40vw;
    z-index: -100;

}

section img#mountainsFront {
    z-index: 10;
}
#text {
    position: absolute;
    top: 40%;
    white-space: nowrap;
    z-index: 4;
    transform: translateY(100px);
    right: 50vh;
}

.button-style {
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 40px;
    background: white;
    color: #2B1055;
    z-index: 9;
    position: absolute;
    margin-top: 30vh;
    font-size: 1.5em;
    display: inline-block;
    transform: translateY(100px);
}

.content-wrapper {
    height: 150vh;
    position: relative;
    padding: 3vh 0.1vw;
    background: #1C0522;
    color: white;
    z-index: 10;
}

.content {
    padding: 8vh 5vw;
    background-color: #444;
    position: relative;
    opacity: 0.8;
    border: 1px solid white;
    box-shadow: 0 0 2vh #444;
    text-align: center;
}

#color {
    background-image: url('./assets/color.jpg');
    min-height: 130vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#splash {
    background-image: url('./assets/headphones.jpg');
    min-height: 130vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bold {
    font-family: "Knockout 94 A", "Knockout 94 B";
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
}

#bold2 {
    font-family: "Knockout 94 A", "Knockout 94 B";
    font-style: normal;
    font-weight: 400;
    font-size: 10vw;
}

#bolder {
    background-image: url('./assets/fashion.jpg');
    min-height: 130vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#light {
    background-image: url('./assets/parallaxOne.jpg');
    min-height: 130vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#dark {
    min-height: 130vh;
    background-size: cover;
    background: black no-repeat fixed center center;
}




